Xft.dpi: 101
Xft.antialias: true
Xft.hinting: true
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

*.foreground: #979eab
*.background: #282c3466
*.color0: #282c34
*.color1: #e06c75
*.color2: #98c379
*.color3: #e5c07b
*.color4: #4d78cc
*.color5: #be5046
*.color6: #56b6c2
*.color7: #979eab
*.color8: #393e4866
*.color9: #d19a66
*.color10: #56b6c2
*.color11: #e5c07b
*.color12: #61afef
*.color13: #be5046
*.color14: #56b6c2
*.color15: #abb2bf
*.color16: #e6e6e6
*.color-separator: #979eab66

Xcursor.theme: Bibata-Modern-Classic
Xcursor.size: 22
