$music-background: #0d2f3b;
$music-foreground: #5cf2c2;

.bar-music {
  background-color: $music-background;
  color: $music-foreground;
  font-family: 'SpaceMono Nerd Font';
  padding: 0.2em 0.6em;
  border-radius: 0.6em;
  
  .title {
    font-size: 14px;
  }

  .separator,
  .artist {
    font-size: 12px;
  }

  .music-button {
    font-family: 'FontAwesome 6 Free';
    font-size: 16px;
  }
}